{% extends 'base.html' %}

{% load static %}

{% block content %}

  <div class="container">
    <br>
    <div class="alert alert-success" id="product-added-to-wishlit-alert">
      <strong><center>Product have added to your wishlist.</center></strong>
    </div>
    <div class="alert alert-danger" id="product-removed-from-wishlit-alert">
      <strong><center>Product removed from your wishlist.</center></strong>
    </div>
    <div class="alert alert-warning" id="error-occurred-wishlit-alert">
      <strong><center>Error occurred while adding Items to Wishlist.</center></strong>
    </div>
  	<div class="form-group">
      <br><br>
      <i class="fa fa-chevron-left" aria-hidden="true"></i><a style="text-decoration:none;" href="/">  Back to Dashboard</a><br><br>
    	<h4 class="pseudo_border">Product Details</h4>
    </div>
    <table class="table" style="">
      <tbody>
        <tr>
          <td>
					  <img src="{{product.image.url}}" width="280" height="330" />
          </td>
          <td style="width:68%;">
              <p></p>
              <div style="float: right;"><label class="heading-label">
                <a class="bookmark-link" style="" href="/add_to_wishlist/{{product.id}}">
                  {% if product_wishlist.is_favourite == True %}
                    <i class="fa fa-bookmark fa-2x" aria-hidden="true"></i>
                  {% else %}
                    <i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i>
                  {% endif %}
                </a>
              </div>

              <div class="form-group">
				      	<label class="heading-label"><span class="badge badge-info">{{product.category.name}}</span></label>
				      	<p class="display-label"></p>
    					</div>
              <!-- <hr></hr> -->
              <div class="form-group">
				      	<label class="heading-label">{{product.name}}</label>
				      	<p class="display-label"></p>
    					</div>
              <hr>
              <p>Price: ₹ {{product.price}}</p>
              <hr>
              <label class="heading-label">Available In:-</label>
              <p><button type="button" class="btn btn-outline-warning">{{product.quantity}} {{product.unit_measure.unit}}</button></p>
              <hr>
  						{% comment %} <div class="form-group">
                <div class="input-group mb-3" style="width:105px;">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Qty</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                  <button type="button" class="btn btn-warning" style="position: absolute;left: 153%;">Warning</button>
    					</div> {% endcomment %}
              {% comment %} <div class="form-check form-check-inline">
                <a  class="btn btn-outline-info" href="#"> <i class="fa fa-minus"></i></a>
              </div>
              <div class="form-check form-check-inline" style="width:9%;">
                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="form-check form-check-inline">
                <a  class="btn btn-outline-info" href="#"> <i class="fa fa-plus"></i></a>
              </div>
              <div class="form-check form-check-inline">
                <label> X {{product.price}}</label>
              </div>
              <div style="float: right;"><label class="heading-label">₹ {{product.price}} <p class="display-label"></p></div> {% endcomment %}
              {% comment %} <button style="width:194px;" type="button" class="btn btn-outline-success flat-buttons">ADD TO CART</button> {% endcomment %}
              <form action="/add_to_cart" method="post"  autocomplete="off">
                  {% csrf_token %}
                  <input type="hidden" name="product_id" value={{product.id}}>
                  {% comment %} {{ product.CartItemExist }} {% endcomment %}
                  {% if product.cart_item %}
                      <button style="width:194px;" type="submit" class="btn btn-outline-success flat-buttons">GO TO CART</button>
                  {% else %}
                      <button style="width:194px;" type="submit" class="btn btn-outline-success flat-buttons">ADD TO CART</button>
                  {% endif %}
              </form>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col-lg-12">
      <label class="heading-label">Product Detail</label>
      <hr>
      <p class="display-label">{{product.description}}</p>
      <hr>
      <label class="heading-label">Reviews</label>
    </div>

	</div>
	
  	<script>
		$(document).ready (function(){
			$("#product-added-to-wishlit-alert").hide();
			$("#product-removed-from-wishlit-alert").hide();
			$("#error-occurred-wishlit-alert").hide();
			$(document).on('click', '.bookmark-link', function (e) {
				e.preventDefault();
				$.ajax({
				type: 'GET',
				url: $(this).attr('href'),
				success: function (json) {
					console.log(json["result"])
					//Code for Product Wishlist
					if(json["result"] == "Favourite"){
					$('a.bookmark-link').html('<i class="fa fa-bookmark fa-2x bookmarked-icon" aria-hidden="true"></i>');
					$("#product-added-to-wishlit-alert").fadeTo(2000, 500).slideUp(500, function() {
						$("#product-added-to-wishlit-alert").slideUp(500);
					});
					}
					else{
					$('a.bookmark-link').html('<i class="fa fa-bookmark-o fa-2x bookmarked-icon" aria-hidden="true"></i>');
					$("#product-removed-from-wishlit-alert").fadeTo(2000, 500).slideUp(500, function() {
						$("#product-removed-from-wishlit-alert").slideUp(500);
					});
					}
				},
				error: function (xhr, errmsg, err) {
					$("#error-occurred-wishlit-alert").fadeTo(2000, 500).slideUp(500, function() {
					$("#error-occurred-wishlit-alert").slideUp(500);
					});
				}
				});
			})
		});
  	</script>

{% endblock %}