{% extends "base.html" %}
{% block content %}
    <div class="container mt-3">
        <br><br>
        <i class="fa fa-chevron-left" aria-hidden="true"></i><a style="text-decoration:none;" href="/myaccount">  Back to My Account</a><br><br>
        <h3 class="pseudo_border">My Profile</h3>
        <br><br>
        <div class="card" style="margin-top:10px;">
            <div class="card-body">
                {% comment %} <form action="" method="post"  autocomplete="off" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                    <br>
                </form> {% endcomment %}
                <form action="/profile_creation" method="post"  autocomplete="off">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value={{user.id}}>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">First Name</label>
                            <input type="text" class="form-control" value="{{user.first_name}}" id="exampleInputEmail1" aria-describedby="emailHelp" disabled>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Last Name</label>
                            <input type="text" class="form-control" value="{{user.last_name}}" id="exampleInputEmail1" aria-describedby="emailHelp" disabled>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" value="{{user.email}}" id="exampleInputEmail1" aria-describedby="emailHelp" disabled>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Password</label>
                            <input type="password" class="form-control" value="XXXXXX" id="inputPassword" placeholder="Password" disabled>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputState">Phone No</label>
                            <input type="text" name="phone_no" class="form-control" value="{{customer.phone_no}}" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">DOB</label>
                            <input type="date" id="birthday" name="date_of_birth" value="{{customer.date_of_birth}}" class="form-control">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputState">Gender</label>
                            <select name="gender" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                <option {% if customer.gender == ''%}selected{% endif %} value="">Select Gender</option>
                                <option {% if customer.gender == 'M'%}selected{% endif %} value="M">Male</option>
                                <option  {% if customer.gender == 'F'%}selected{% endif %} value="F">Female</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}